/*CODE*/

body {
    background-color: grey;
    text-align: center;
}

#phpbox {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    padding: 10px;
}